body {
    margin-bottom:30px;
}

#footer {
    height: 30px;
}

h1 {margin:0px;font-size:50px}

input.big {color: #555; text-align: center; margin-right:10px;}
input.big2 {width:45px; font-size:30px;}
input.big4 {width:90px; font-size:30px;}
input.err {border:2px solid #C33;}
#date-form {display: block; color:#999; float: left;}
#date-form h1 {color:#555;margin-top:20px;}
#date-form li {display: block; float: left}

.days-description {
    font-size: 16px;
}

a.button-secondary {
    margin: 0.2em;
}

a.event {
    font-size: 16px;
    width: 110px;
    padding: 5px;
}

#menu {
    padding:10px;
}

.success {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
    background: #5aba59;
}