<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block meta_desc %}{% endblock %}">
    <meta name="keywords" content="{% block meta_kw %}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="{{ config.FB_APP_ID }}" />

    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="{{url_for('.static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('.static', filename='days-until.css')}}">

    <script src="{{url_for('.static', filename='timezone.js')}}"></script>
    <script src="{{url_for('.static', filename='jquery.js')}}"></script>
    <script src="{{url_for('.static', filename='days-until.js')}}"></script>

    <script type="text/javascript">
      var s_tz = '{{ session.tz }}';
      var timezone = jstz.determine().name();
      if (s_tz != timezone){
        s_tz = timezone;
        $.get('/api/timezone?tz='+s_tz);
      }
    </script>
    {% block head %}{% endblock %}
  </head>

<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ config.FB_APP_ID }}',
                status     : true,
                cookie     : true,
                xfbml      : true
            });

            FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
            });
        };

        // Load the SDK Asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

  <div id="menu">
  <div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2"><a href="/">DayUntil</a></div>
    <div class="pure-u-1-2 right">
              {% if g.user %}
                {{g.user.name}} <a href="/logout" id="logout">[logout]</a>
              {% else %}
                <div class="fb-login-button" data-size='large' data-perms="basic_info">Sign in</div>
              {% endif %}
    </div>
    </div>
  </div>
  </div>

  {% block content %} {% endblock %}


    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) { });
        };
    </script>
    {% include '_ga_tracking.html' %}
</body>
</html>