{% extends '_base.html' %}
{% block title %}Contact DayUntil{% endblock %}
{% block meta_desc %}Contact Dayuntil with suggestions{% endblock %}
{% block meta_kw %}days until, contact us{% endblock %}

{% block content %}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <form method="post" action="" class="pure-form pure-form-stacked">
          <fieldset>
            <legend>Contact Us</legend>
            <label for="from">Your Email</label>
            <input type="text" name="email">

            <label for="message">Message</label>
            <textarea name="message" rows="10" cols="50"></textarea>

            <input type="submit" value="Send" class="pure-button pure-button-primary">
          </fieldset>
        </form>
      </div>
    </div>
  </div>


{% endblock %}