{% extends '_base.html' %}
{% block title %}{{ c.title }}{% endblock %}
{% block meta_desc %}{{ c.title }}{% endblock %}
{% block meta_kw %}{{ c.title }}{% endblock %}

{% block content %}

  {{ config.ADSENSE_TOP|safe }}

  <div class="content">

    <div class="pure-g center">
      <div class="pure-u-1">
        <h1>{{ c.heading }}</h1>
        <h2>{{ c.subheading }}</h2>
        <h3>{{ c.desc }}</h3>
        <hr>
        On this day...
        <hr>
        Interlinking
      </div>
    </div>

  </div>

{% endblock %}