{% extends '_base.html' %}
{% block title %}{{ c.title }}{% endblock %}
{% block meta_desc %}{{ c.meta_desc }}{% endblock %}
{% block meta_kw %}{{ c.meta_keywords }}{% endblock %}

{% block content %}
  {% if g.ab %}
  <div class="tcenter" style="margin-top:5px">
    {{ config.ADSENSE_TOP|safe }}
  </div>
  {% endif %}

  <div class="content">

    <div class="pure-g">
      <div class="pure-u-1 tcenter">
        <h1>{{ c.heading }}</h1>
        <h2>{{ c.subheading }}</h2>
        <div id="date-info">
          a {{ c.date.strftime("%A") }} {{ c.day_info }} from today
        </div>
        <p class="days-description">{{ c.desc|safe }}</p>
        <!--<hr>
        Fact: {{ c.fact }}
        -->
        <hr>
        Days Until:
        {% for e in c.nearby_events %}
          <span style="white-space: nowrap;">
            <a title="Days Until {{ e.name }}" class="button-secondary pure-button event" href="/{{ e.id }}">{{ e.name }}</a>
          </span>
        {% endfor %}

      </div>
    </div>

  </div>


  {% if not g.ab %}
  <div class="tcenter" style="margin-top:5px">
    {{ config.ADSENSE_BOTTOM|safe }}
  </div>
  {% endif %}

{% endblock %}